@page "/"

@using MudBlazor
@inject ISnackbar snackbar


@* CAROUSEL *@
<div class="container">
	<MudCarousel Class="mud-width-full" Style="height:600px; border-radius: 5px; width:auto;" ShowArrows="@arrows" ShowBullets="false" EnableSwipeGesture="@enableSwipeGesture" AutoCycle="@autocycle" TData="object">
	
		@foreach(string img in images)
		{
			<MudCarouselItem Transition="transition">
				<div class="image-container">
					<img src=@(img) alt="Jewelry Header Image">
				</div>
			</MudCarouselItem>
		}
		</MudCarousel>


@* ABOUT *@
	<div style="margin-top: 50px;  height: 800px; width: auto;">
		<div class="about">
			<div class="about-photo">
				<img style="border-radius: 5px;" src="@PhotoPaths.PEOPLES" alt="People Image">
			</div>
			<div class="about-text">
				<p style="margin-left: 10%; font-size:20px; font-family:roboto;">Mad Nature Related is a pressed flower jewelry business ran by Sandra Soroka and Samantha Petschauer,
					a mother daughter team! We create an array of different jewerly, using mostly hand picked, pressed flowers. Ask us about custom orders!</p>
			</div>
		</div>
	</div>


	@* UPCOMING SHOWS *@
	<div style="height: 800px; width: auto;">
		<div class="upcoming-shows">
			<div class="upcoming-shows-text">
				<MudText Style="text-align: center; font-family: Poppins; font-weight: bold; font-size: 28px;">Upcoming Shows in 2024!</MudText>
				<br/>
				<div style="justify-content:center !important;">
					<div class="about-text">
						<p>
							4/21 - 4/23 Lafayette Apple Festival - Rowland Rd, Lafayette, NY
						</p>
					</div>
					<div class="about-text">
						<p>
							9/17 - 9/19	Blue Mountain Lake Rustic Fall Festival Blue Mountain Lake, NY
						</p>
					</div>
				</div>
			</div>
			<img style="border-radius: 5px;" class="upcoming-shows-photo" src="@PhotoPaths.UPCOMING_SHOWS_PHOTO" alt="Upcoming Shows Image" />
		</div>
	</div>

</div>

@* CONTACT *@

<div class="flex-container">
	<div class="left-column">
		<!-- Social media icons -->
		<div style="margin-top: -400px;">
			<MudText class="social-media-text" Style="font-weight: bold; text-align: center; font-size: 24px; font-family: Poppins;">
				View us on Social Media!
			</MudText>

			<div class="contact-image-container">
				<a href="https://facebook.com/MadNatureRelated" target="_blank">
					<img class="contact-image-fb" src="@PhotoPaths.FACEBOOK_ICON" alt="Facebook">
				</a>
				<a href="https://instagram.com/MadNatureRelated" target="_blank">
					<img class="contact-image-instagram" src="@PhotoPaths.INSTAGRAM_ICON" alt="Instagram">
				</a>
			</div>
		</div>
	</div>
	<div class="right-column" style="margin-top: -400px;">
		<!-- HTML text column -->
		<p style="font-weight: bold; font-size: 24px; font-family: Poppins;">Contact</p>
		<p>10788 Commons Rd, Remsen, NY, 13438</p>
		<p>315-717-9041</p>
		<p>MadNatureCreations@gmail.com</p>
	</div>
</div>
@code {
	private bool arrows = true;
	private bool bullets = true;
	private bool enableSwipeGesture = true;
	private bool autocycle = true;
	private Transition transition = Transition.Slide;

	List<string> images = PhotoPaths.GetCarouselImages();
}